<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add balloon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <style>
        header {
            margin-bottom: 50px;
        }

        label, input {
            font-size: larger;
        }

        .row {
            margin: 5px;
        }
    </style>
</head>
<body class="container">
<header>
    <h1>Add or edit Balloon</h1>
</header>

<form action="/balloons/add" method="POST">
    <div class="row">
        <label class="col-2" for="name">Balloon name:</label>
        <div class="col-3">
            <input type="text" id="name" name="name" th:value="(${balloon} != null ? ${balloon.getName()} : '')"
                   required placeholder="Enter balloon name" class="form-control">
        </div>
    </div>
    <div class="row">
        <label class="col-2" for="desc">Balloon description:</label>
        <div class="col-3">
            <input type="text" id="desc" name="desc" th:value="(${balloon} != null ? ${balloon.getDescription()} : '')"
                   placeholder="Description" class="form-control">
        </div>
    </div>
    <div class="row">
        <label class="col-2">Manufacturer</label>
        <div class="col-3">
            <select class="form-select form-select-lg mb-3" name="manufacturer">
                <option th:if="${balloon} != null"
                        th:selected="${balloon.getManufacturer() != null && balloon.getManufacturer().getName() == man.getName()}"
                        th:each="man : ${manufacturers}"
                        th:value="${man.getId()}"
                        th:text="${man.getName()}">
                </option>
                <option th:if="${balloon} == null"
                        th:each="man : ${manufacturers}"
                        th:value="${man.getId()}"
                        th:text="${man.getName()}">
                </option>
            </select>
        </div>
        <a class="col-2 btn btn-primary" style="height: 40px" href="/balloons/manufacturers/add-form">Add new
            Manufacturer</a>
    </div>
    <div class="row" style="margin-top: 50px">
        <input name="id" type="hidden" th:value="(${balloon} != null ? ${balloon.getId()} : 0)">
        <button class="col-3 btn btn-primary" type="submit">Submit</button>
        <div class="col-1"></div>
        <a class="btn btn-secondary col-2" type="button" href="/balloons">Back</a>
    </div>
</form>
</body>
</html>
